{template 'common/header'}
<script>
    function find(){
        var department_id = $("#department_id").val();
        var begin_day = $("#begin_day").val();
        var end_day = $("#end_day").val();
        var type_id = $("#type_id").val();
        location.href="{php echo $this->createWebUrl('orders',array('op' => 'appointment'))}&department_id="+department_id+"&begin_day="+begin_day+"&end_day="+end_day+"&type_id="+type_id;
    }
</script>
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('orders',array('op'=>'appointment'));}">订餐列表</a></li>
    <li ><a href="{php echo $this->createWebUrl('orders',array('op'=>'index'));}">就餐列表</a></li>
</ul>
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">查询</div>
        <div class="panel-body">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-12 col-lg-12">
                        <select class="form-control" id="department_id">
                            <option value="0">全部部门</option>
                            {loop $departments $department}
                            <option value="{$department['id']}" {if $department['id']==$department_id }selected='selected'{/if}>
                            {$department['name']}
                            </option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-lg-12">
                        <select class="form-control" id="type_id">
                            <option value="0">全部类型</option>
                            {loop $types $type}
                            <option value="{$type['id']}" {if $type['id']==$type_id }selected='selected'{/if}>
                            {$type['name']}
                            </option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">订餐时间</div>
                    <div class="col-xs-4">
                        <input type="date" class="form-control" id="begin_day" value="{$begin_day}" />
                    </div>
                    <div class="col-xs-4">
                        <input type="date" class="form-control" id="end_day" value="{$end_day}" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <button class="btn btn-default" onclick="find();"><i class="fa fa-search"></i> 搜索</button>
                    <!--<button class="btn btn-default" onclick="export_data();"><span class="glyphicon glyphicon-new-window"></span> 导出</button>-->
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>订餐人</th>
                <th>订餐人部门</th>
                <th>订餐人职位</th>
                <th>订餐日期</th>
                <th>订餐类型</th>
            </tr>
            {loop $orders $order}
            <tr>
                <td>{$order['username']}</td>
                <td>{$order['d_name']}</td>
                <td>{$order['p_name']}</td>
                <td>{php echo date('Y-m-d',$order['time'])}</td>
                <td>{$order['t_name']}</td>

            </tr>
            {/loop}
        </table>
        <div>共{$total}条记录</div>
        {$pager}
    </div>
</div>


{template 'common/footer'}