{template 'common/header'}
<link rel="stylesheet" href="ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
    body {
        background-color: white;
        margin:0; padding:0;
        text-align: center;
    }
    div, p, table, th, td {
        list-style:none;
        margin:0; padding:0;
        color:#333; font-size:12px;
        font-family:dotum, Verdana, Arial, Helvetica, AppleGothic, sans-serif;
    }
    #testIframe {margin-left: 10px;}
</style>
<SCRIPT type="text/javascript" >


    $(document).ready(function(){
    var zTree;
    var demoIframe=$("#testIframe");

    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable:true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                //var zTree = $.fn.zTree.getZTreeObj("tree");
                if (treeNode.isParent) {
                    zTree.expandNode(treeNode);
                    return false;
                } else {
                    demoIframe.attr("src",treeNode.file);
                    return true;
                }
            }
        }
    };

    var zNodes =[ 
		{loop $departments $depart}
{id:{$depart['id']}, pId:{$depart['parent_id']}, name:"{$depart['name']}", open:true, file: "{php echo $this->createWebUrl('department',array('op'=>'add', 'do'=>'department', 'm'=>'ljr_business_order', 'id'=>$depart['id']));}"},
        {/loop}
    ];


        var t = $("#tree");
        t = $.fn.zTree.init(t, setting, zNodes);
        demoIframe = $("#testIframe");
        demoIframe.bind("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
        zTree.selectNode(zTree.getNodeByParam("id", 101));

    });

    function loadReady() {
        var bodyH = demoIframe.contents().find("body").get(0).scrollHeight,
                htmlH = demoIframe.contents().find("html").get(0).scrollHeight,
                maxH = Math.max(bodyH, htmlH), minH = Math.min(bodyH, htmlH),
                h = demoIframe.height() >= maxH ? minH:maxH ;
        if (h < 530) h = 530;
        demoIframe.height(h);
    }

</SCRIPT>
<!--<script type="text/javascript" src="ztree/js/jquery-1.4.4.min.js"></script>-->
<script type="text/javascript" src="ztree/js/jquery.ztree.core.js"></script>
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('business',array('op'=>'index'));}">部门列表</a></li>
	<li><a href="javascript:$('#testIframe').attr('src', '{php echo $this->createWebUrl('department',array('op'=>'add'));}');">增加部门</a></li>
</ul>
<TABLE border=0 height=600px align=left>
    <TR>
        <TD width=260px align=left valign=top style="BORDER-RIGHT: #999999 1px dashed">
            <ul id="tree" class="ztree" style="width:260px; overflow:auto;"></ul>
        </TD>
        <TD width=770px align=left valign=top><IFRAME ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=600px SRC=""></IFRAME></TD>
    </TR>
</TABLE>

{template 'common/footer'}
