{template 'header'}
<link href="/addons/lanyu_appointment/template/mobile/css/choose_day.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container" align="center">
        <h4 style="color:white;">请选择预约日期</h4>
    </div>
</nav>
<div >
    <div class="wrap">
        {loop $days $day}
        <a href="{php echo $this->createMobileUrl('orders',array('op' => 'choose_time', 'type_id' => $type_id, 'store_id' => $store_id,'year' => $day['year'], 'month' => $day['month'],'day' => $day['day']))}">
            <date-section class="available">
                <date>
                    <month>{$day['month']}月</month>
                    <day>{$day['day']}</day>
                    <week>周{$day['week']}</week>
                </date>
            </date-section>
        </a>
        {/loop}
    </div>

</div>
<div align="center" style="clear:both; color:#C7C7C7;">可预约14天内的档期，新一天档期于每天10:00开放</div>

<script>
    function change_day(){
        var month = $("#month").val();
        location.href="{php echo $this->createMobileUrl('orders',array('op' => 'choose_day', 'type_id' => $type_id,'store_id' => $store_id))}&month="+month;
    }
</script>

{template 'footer'}