{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('orders',array('op'=>'post'));}">添加订单</a></li>
    <li  class="active"><a href="{php echo $this->createWebUrl('orders', array('op'=>'list'))}">订单管理</a></li>
</ul>

<div class="main panel panel-default">
    <div class="category panel-body table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 128px;" >订单编号</th>
                    <th >车牌号码</th>
                    <th >店铺</th>
                    <th >订单状态</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody>
                {loop $list $v}
                <tr>
                    <td>
                        <a href="{php echo $this->createWebUrl('orders',array('id' => $v['id'],'op'=>'order_detail'))}" />
                        {$v['order_sn']}
                        </a>
                    </td>
                    <td>
                        {$v['car_no']}
                    </td>
                    <td>
                        {$v['store_name']}
                    </td>
                    <td>
                        {if $v['status'] == 0}
                        <span style="color:red;">已取消</span>
                        {else if $v['status'] == 10 }
                        未选择店铺
                        {else if $v['status'] == 11 }
                        排队中
                        {else if $v['status'] == 20}
                        施工中
                        {else if $v['status'] == 30}
                        待付款
                        {else if $v['status'] == 40}
                        待交车
                        {else if $v['status'] == 50}
                        已完成
                        {/if}
                    </td>
                    <td>
                        {if $v['status'] == 10}
                        <a href="{php echo $this->createWebUrl('orders',array('id' => $v['id'],'op'=>'cancle'))}" onclick="return confirm('确认取消此订单？');return false;" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm" title="取消">
                            <i class="fa fa-times"></i>
                        </a>
                        {else if $v['status'] == 30}
                        <a href="{php echo $this->createWebUrl('orders',array('id' => $v['id'],'op'=>'get_money'))}" onclick="return confirm('确认收款？');return false;" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm" title="确认收款">
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        </a>
                        {else if $v['status'] == 40}
                        <a href="{php echo $this->createWebUrl('orders',array('id' => $v['id'],'op'=>'leave'))}" onclick="return confirm('确认交车？');return false;" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm" title="交车">
                            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                        </a>
                        {/if}
                        <a href="{php echo $this->createWebUrl('orders',array('id' => $v['id'],'op'=>'order_detail'))}"   data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm" title="查看详细">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                {/loop}
                <tr>
                    <td colspan="5">
                        <a class='btn btn-default' href="{php echo $this->createWebUrl('orders  ', array('op'=>'post','id'=>0));}"><i class="fa fa-arrows"></i> 添加订单</a>
                    </td>
                </tr>
                </tbody>
            </table>
        {$pager}
    </div>
</div>
<script>
    require(['bootstrap'],function($){
        $('.btn').tooltip();
    });
</script>

{template 'common/footer'}