{template 'common/header'}
<script>
    function open_check(){
        $("#check_data").show();
        $("#check_title").attr('onclick','close_check()');
    }
    function close_check(){
        $("#check_data").hide();
        $("#check_title").attr('onclick','open_check()');
    }
    function add_check(id){
        if(id > 0){
            var url = "{php echo $this->createWebUrl('orders',array('op'=>'add_check'));}";
            $.ajax({
                type : 'post',
                url : url,
                data : {'order_id' : id},
                success : function(data){
                    if(data == 111){
                        alert("检查单生成成功！");
                        location.reload();
                    }else if(data == 333){
                        alert("订单已经存在检测单");
                    }else{
                        alert("服务器繁忙，请稍后重试！");
                    }
                }
            });
        }
    }
    function find_services(){
        var system_id = $("#system").val();
        if(system_id != 0){
            var url = "{php echo $this->createWebUrl('orders',array('op'=>'find_service'));}";
            $.ajax({
                type : 'get',
                url : url,
                data : {system_id : system_id},
                success : function(data){
                    $("#service_id").html(data);
                }
            });
        }
    }

    function add_service(order_id){
        var service_id = $("#service_id").val();
        if(service_id > 0 && order_id > 0){
            var url = "{php echo $this->createWebUrl('orders',array('op'=>'add_service'));}";
            $.ajax({
                type : 'post',
                url : url,
                data : {'service_id' : service_id,'order_id' : order_id},
                success : function(data){
                    if(data == 111){
                        alert("添加成功！");
                        location.reload();
                    }else if(data == 222){
                        alert("已经添加了该服务了！");
                    }else{
                        alert("服务器繁忙，请稍后重试！");
                    }
                }
            });
        }
    }
    function del(id){
        if(confirm("是否确定删除？")){
            var url = "{php echo $this->createWebUrl('orders',array('op'=>'del_goods'));}";
            $.ajax({
                type : 'post',
                url : url,
                data : {'id' : id},
                success : function(data){
                    if(data == 111){
                        alert("操作成功！");
                        location.reload();
                    }
                }
            });
        }
    }
    function worker_price(id){
        var htm = "<input type='text' style='width:50px;' id='new_price"+id+"' onblur='worker_price_change("+id+");' />";
        $("#service"+id).html(htm);
    }
    function worker_price_change(id){
        var price = $("#new_price"+id).val();
        var url = "{php echo $this->createWebUrl('orders',array('op'=>'worker_price_change'));}";
        if(price >= 0){
            $.ajax({
                type : 'post',
                url : url,
                data : {'id' : id,'price' : price},
                success : function(data){
                    if(data == 111){
                        alert("修改成功！");
                        location.reload();
                    }else{
                        alert("服务器繁忙，请稍后重试！");
                        location.reload();
                    }
                }
            });
        }
    }
    function goods_price(id){
        var htm = "<input type='text' style='width:50px;' id='new_goods_price"+id+"' onblur='goods_price_change("+id+");' />";
        $("#goods_price"+id).html(htm);
    }
    function goods_price_change(id){
        var price = $("#new_goods_price"+id).val();
        var url = "{php echo $this->createWebUrl('orders',array('op'=>'goods_price_change'));}";
        if(price >= 0){
            $.ajax({
                type : 'post',
                url : url,
                data : {'id' : id,'price' : price},
                success : function(data){
                    if(data == 111){
                        alert("操作成功！");
                        location.reload();
                    }else{
                        alert("服务器繁忙，请稍后重试！");
                        location.reload();
                    }
                }
            });
        }
    }
    function goods_quantity(id){
        var htm = "<input type='text' style='width:50px;' id='new_goods_quantity"+id+"' onblur='goods_quantity_change("+id+");' />";
        $("#goods_quantity"+id).html(htm);
    }
    function goods_quantity_change(id){
        var quantity = $("#new_goods_quantity"+id).val();
        var url = "{php echo $this->createWebUrl('orders',array('op'=>'goods_quantity_change'));}";
        if(quantity >= 0){
            $.ajax({
                type : 'post',
                url : url,
                data : {'id' : id,'quantity' : quantity},
                success : function(data){
                    if(data == 111){
                        alert("操作成功！");
                        location.reload();
                    }else{
                        alert("服务器繁忙，请稍后重试！");
                        location.reload();
                    }
                }
            });
        }
    }
</script>
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('orders',array('op'=>'list'));}">订单管理</a></li>
</ul>
    <div class="main">
        <!--<form class="form-horizontal form" >-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    订单详情
                </div>
                <div class="panel-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">订单号：{$order_data['order_sn']}</h3>
                        </div>
                        <div class="panel-body" >
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading" >
                                            <h3 class="panel-title">{$car['car_no']} </h3>
                                        </div>
                                        <div class="panel-body" id="car_data">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <strong>车主:</strong>
                                                </div>
                                                <div class="col-xs-6">
                                                    {$car['car_userName']}
                                                </div>
                                                <div class="col-xs-6">
                                                    <strong>联系电话:</strong>
                                                </div>
                                                <div class="col-xs-6">
                                                    {$car['car_mobile']}
                                                </div>
                                                <div class="col-xs-6">
                                                    <strong>车型:</strong>
                                                </div>
                                                <div class="col-xs-6">
                                                    {$car['brand_cn']}{$car['series_cn']}{$car['type_cn']}
                                                </div>
                                                {if $order_data['status'] < 40 }
                                                <div class="col-xs-6">
                                                    <strong>上次保养时间:</strong>
                                                </div>
                                                <div class="col-xs-6">
                                                    {if empty($car['car_care_lastDate'])}
                                                    未有保养记录
                                                    {else}
                                                    <?php echo date('Y-m-d',$car['car_care_lastDate']) ?>
                                                    {/if}
                                                </div>
                                                <div class="col-xs-6">
                                                    <strong>上次保养里程:</strong>
                                                </div>
                                                <div class="col-xs-6">
                                                    {if empty($car['car_care_mileage'])}
                                                    未有保养记录
                                                    {else}
                                                    {$car['car_care_mileage']}
                                                    {/if}
                                                </div>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    {if $check}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" id="check_title" onclick="open_check();" >
                                            <h3 class="panel-title">检测报告&nbsp;&nbsp;<a style="font-size: 13px;" href="javascript:display;">点击展开</a></h3>
                                        </div>
                                        <div class="panel-body" style="display: none;" id="check_data">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th >检测项目</th>
                                                    <th >检测结果</th>
                                                    <th >备注</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {loop $check $c}
                                                    <tr>
                                                        <td>{$c['name']}</td>
                                                        <td>
                                                            {if empty($c['check_result'])}
                                                            未开始检测
                                                            {else if $c['check_result'] == 1}
                                                            {$c['title1']}
                                                            {else if $c['check_result'] == 2}
                                                            {$c['title2']}
                                                            {/if}
                                                        </td>
                                                        <td>
                                                            {$c['remark']}
                                                        </td>
                                                {/loop}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {else}
                                    <button class="btn-default" onclick="add_check({$order_data['id']});">进行检测服务</button>
                                    {/if}
                            </div>
                        </div>
                            {if !empty($services)}
                            <div>
                                <div class="panel panel-success">
                                    <div class="panel-heading" >
                                        <h3 class="panel-title">保养内容</h3>
                                    </div>
                                    <div class="panel-body" >
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th >服务</th>
                                                <th >工时费</th>
                                                <th >产品</th>
                                                <th >价格</th>
                                                <th >数量</th>
                                                <th >小计</th>
                                                <th >操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {loop $services $s}

                                            <tr>
                                                <td rowspan="{$s['count']}">
                                                    <p>
                                                        {$s['name']}
                                                    </p>
                                                    <a href="{php echo $this->createWebUrl('orders',array('op'=>'add_goods','service_id' => $s['id'],'order_id'=>$order_id));}">
                                                        添加产品
                                                    </a>
                                                </td>
                                                <td rowspan="{$s['count']}" id="service{$s['id']}" {if $order_data['status'] <40 }ondblclick="worker_price({$s['id']});" {/if}>{$s['worker_price']}</td>
                                                {loop $s['goods'] $goods}
                                                <td>{$goods['name']}({$goods['goods_sn']})</td>
                                                <td {if $order_data['status'] <40 }ondblclick="goods_price({$goods['id']});" {/if}>￥<span id="goods_price{$goods['id']}">{$goods['goods_price']}</span></td>
                                                <td {if $order_data['status'] <40 }ondblclick="goods_quantity({$goods['id']});" {/if}id="goods_quantity{$goods['id']}">{$goods['quantity']}</td>
                                                <td>￥{$goods['total_price']}</td>
                                                <td>
                                                    <a href="javascript:display;" onclick="del({$goods['id']});">
                                                        <span class="glyphicon glyphicon-remove" title="删除"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                                {/loop}
                                            {/loop}
                                            <tr>
                                                <td ></td>
                                                <td ></td>
                                                <td ></td>
                                                <td ></td>
                                                <td >
                                                    <p>工时费总计</p>
                                                    <p>产品总计</p>
                                                    <p>订单总金额</p>
                                                </td>
                                                <td >
                                                    <p>￥{$worker_price}</p>
                                                    <p>￥{$total_price}</p>
                                                    <p>￥{$order_price}</p>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/if}
                            <!-- 添加服务 -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                添加服务
                            </button>
                            {if $order_data['status'] == 30}
                            <a href="{php echo $this->createWebUrl('orders',array('id' => $order_data['id'],'op'=>'get_money'))}" onclick="return confirm('确认收款？');return false;" >
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                    确认收款
                                </button>
                            </a>
                            {else if $order_data['status'] == 40}
                            <a href="{php echo $this->createWebUrl('orders',array('id' => $order_data['id'],'op'=>'leave'))}" onclick="return confirm('确认交车？');return false;" >
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                    确认交车
                                </button>
                            </a>
                            {/if}
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">添加服务</h4>
                                        </div>
                                        <div class="modal-body">
                                            <select class="form-control" onchange="find_services();" id="system">
                                                <option>请选择维护系统</option>
                                                {loop $all_system $system}
                                                    <option value="{$system['system_id']}">{$system['name']}</option>
                                                {/loop}
                                                </select>
                                            </select>
                                            <br />
                                            <select class="form-control" id="service_id">
                                                <option>请选择需要服务</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="button" onclick="add_service({$order_id});" class="btn btn-primary">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 结束 -->
                    </div>
                </div>
            </div>
        <!--</form>-->
    </div>



{template 'common/footer'}