{template 'common/header'}

<script>
    function find(){
        var key_word = $("#key_word").val().trim();
        var type_id = $("#type_id").val();
        location.href="index.php?c=site&a=entry&op=list&do=stock&m=we7_car&key_word="+key_word+"&type_id="+type_id;
    }
</script>
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('stock', array('op'=>'list'))}">库存管理</a></li>
    <li ><a href="{php echo $this->createWebUrl('stock', array('op'=>'orders'))}">订单审核</a></li>
</ul>

<div class="main panel panel-default">
    <div class="category panel-body table-responsive">
        <div class="panel panel-info">
            <div class="panel-heading">查询</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品名称/编号</label>
                        <div class="col-sm-8 col-lg-9">
                            <input type="text" class="form-control" id="key_word" value="{$key_word}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">产品类型</label>
                        <div class="col-sm-8 col-lg-9">
                            <select class="form-control" id="type_id">
                                <option value="0" >全部</option>
                                {loop $types $type}
                                <option value="{$type['id']}" {if $type['id']==$type_id }selected='selected'{/if}>
                                {$type['name']}
                                </option>
                                {/loop}
                            </select>
                        </div>
                        <div class=" col-xs-12 col-sm-2 col-lg-2">
                            <button class="btn btn-default" onclick="find();"><i class="fa fa-search"></i> 搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th >产品</th>
                <th >产品编号</th>
                <th >产品规格</th>
                <th >库存</th>
                <th>安全库存</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $v}
            <tr>
                <td>
                    <img src="../attachment/{$v['image']}" style="width:100%;" />
                    <p align="center">{$v['name']}</p>
                </td>
                <td>
                    {$v['goods_sn']}
                </td>
                <td>
                    {$v['spec']}
                </td>
                <td>
                    {if $v['quantity'] <= $v['safety_sock'] }
                    <strong style="color:red;">{$v['quantity']}</strong>
                    {else}
                    <span >{$v['quantity']}</span>
                    {/if}
                </td>
                <td>
                    {$v['safety_sock']}
                </td>
                <td>
                    <a href="{php echo $this->createWebUrl('stock',array('stock_id' => $v['stock_id'],'goods_id' => $v['id'],'op'=>'stock_in'))}" title="采购入库" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-in"></span></a>
                    <a href="{php echo $this->createWebUrl('stock',array('stock_id' => $v['stock_id'],'goods_id' => $v['id'],'op'=>'stock_out'))}" title="销售出库" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-out"></span></a>
                    <a href="{php echo $this->createWebUrl('stock',array('stock_id' => $v['stock_id'],'op'=>'save_safety_sock','goods_id' => $v['id']))}" title="设置安全库存" data-toggle="tooltip" data-placement="bottom" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-bell"></span></a>
                </td>
            </tr>
            {/loop}

            </tbody>
        </table>
        {$pager}
    </div>
</div>
<script>
    require(['bootstrap'],function($){
        $('.btn').tooltip();
    });
</script>

{template 'common/footer'}