{template 'header'}
<link href="/addons/lanyu_appointment/template/mobile/css/choose_day.css" rel="stylesheet">
<div >
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">主页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">我的订餐</a></li>
                    <li><a href="#">今周菜单</a></li>
                    <!--<li><a href="#">Link</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div >
        草泥马
    </div>
</div>
<script>
    function change_day(){
        var month = $("#month").val();
        location.href="{php echo $this->createMobileUrl('orders',array('op' => 'choose_day', 'type_id' => $type_id,'store_id' => $store_id))}&month="+month;
    }
</script>

{template 'footer'}